ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 130, 155);
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgb(60, 70, 77);
    border: white;
    border-width: 0px;
    border-radius: 50%;
  }
  

body {
    background-color: rgb(77, 130, 155);
    color: white;
    ;
}
#head {
    padding: 8px;
    text-align: center;
    font-size: 16pt;
    display: flex;

}
#logo {
    float: right;
    height: 120px;
    width: 120pxx;
    margin: 0px 15px 15px 0px;
    border: white;
    border-width: 0px;
    border-radius: 50%;
}
h1 {
    border:white double;
    border-radius: 30%;
    text-align: center;
    color: rgb(60, 70, 77);
}
#zig {
    float: right;
}
#zag {
    float: left;
    margin-top: 30px;
}
#nah {
    line-height: 30px;
}
p {
  text-align: center;
  font-style: italic;
  font-size: 15pt;
}
#img {
  height: 200px;
  width: 300px;
  border: white 0px;
  border-radius: 30%;
}
#col {
  text-align: center;
}
.flex {
  display: block;
}
ul {
  font-size: 13pt;
}
#quad {
  height: 300px;
  width: 400px;
  border: white 0px;
  border-radius: 30%;
}
h3 {
  margin-left: 130px;
  text-align: left;
  color: rgb(60, 70, 77);
}
#cont {
  text-align: left;
}
#cod {
  text-align: center;
  display: block;
}
#res {
  margin-left: 10px;
  height: 400px;
  width: 500px;
  border: white 0px;
  border-radius: 35%;
}
#image {
  border-radius: 20%;
  padding-bottom: 10px;
}
#acco {
  display: flex;
}
#seive {
  padding:70px;
}
.desg {
  font-size: 20pt;
}